<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.globalgis.grand_marketing">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name=".app.GMApplication"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity android:name=".activities.UpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.VkActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".activities.RoutesActivity"
                  android:label="@string/app_name"/>
    </application>
</manifest>
